<html>
  <head>
    <title>Signin as a Judge</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Judge Signin</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('signin_form') }}">
          <label for="name">Name:</label>
          <input type="text" name="name"><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="contact">Contact, other than email:</label>
          <input type="contact" name="contact"><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
