<!DOCTYPE html>
{% autoescape true %}
<html>
 <head>
   <title>Enter Scores for a team {{team}}</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <script type="text/javascript">
     window.onload = function(){
     var judge = document.getElementById("judge");
     var team = document.getElementById("team");
     var save = document.getElementById("save");
     team.addEventListener("change", function() {
        save.disabled = true;
     });
     judge.addEventListener("change", function() {
        save.disabled = true;
     });
     }
   </script>
 </head>
 <body>
{% include "navbar.html" %}   
   <form method="post" name="score_editor" action="{{ url_for('scores_form') }}">
   <p>
   <select name="judge" id="judge" class="lookupneeded">
   {% for j in judges %}
     <option value="{{j}}" {% if j == judge %}selected{% endif %}>{{j}}</option>
   {% endfor %}
   </select>
   <select id="team" name="team" class="lookupneeded">
   {% for t in teams %}
     <option value="{{t}}" {% if t== team %}selected{% endif %}>{{t}}</option>
   {% endfor %}
   </select>
   </p>
   <input type="submit" name="lookup" value="lookup scores"/>
   <table name="scores">
   <tr><th>Category</th><th>Score</th><th>Notes</th></tr>
   <!-- [START scores] -->
   {% for score in scores %}
      <div class="row">
       <tr><td><input type="hidden" name="category" value="{{score.category}}"/>{{score.category}}</td><td><input type="text" name="score" value="{{score.score}}"></td><td><input type="text" name="notes" value="{{score.notes}}"></td></tr>
      </div>
   {% endfor %}
   </table>
   <input type="submit" id="save" name="save" value="save scores" {%if saved%}disabled="disabled"{% endif %}/>
   </form>
 </body>
</html>
{% endautoescape %}
