<!DOCTYPE html>
{% autoescape true %}
<html>
 <head>
   <title>Enter Scores for a team {{team}}</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <form method="post" name="score_editor" action="{{ url_for('scores_form') }}">
   <p>
   <select name="judge">
   {% for j in judges %}
     <option value="{{j}}" {% if j== judge %}selected{% endif %}>{{j}}</option>
   {% endfor %}
   </select>
   <select name="team">
   {% for t in teams %}
     <option value="{{t}}" {% if t== team %}selected{% endif %}>{{t}}</option>
   {% endfor %}
   </select>
   </p>
   <input type="submit" name="lookup" value="lookup scores"/>
   <table name="scores">
   <tr><th>Category</th><th>Score</th><th>Notes</th></tr>
   <!-- [START scores] -->
   {% for score in scores %}
      <div class="row">
       <tr><td><input name="category" value="{{score.category}}" readonly/></td><td><input type="text" name="score" value="{{score.score}}"></td><td><input type="text" name="notes" value="{{score.notes}}"></td></tr>
      </div>
   {% endfor %}
   </table>
   <input type="submit" name="save" value="save scores"/>
   </form>
 </body>
</html>
{% endautoescape %}
